// @import 'vars'; если используете scss-переменные - подключите сюда vars, но удалите root из _vars.scss

@import "vars";
@import "mixins";

body {
  background: #000;
  color: #fff;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.main-title {
  margin: 30px 0 30px 0;
  text-align: center;
}
//.score-board

.users__user-wrapper {
  display: flex;
  justify-content: space-between;
}
.users__username {
  margin: 0 15px 10px 0;
}
.users__user {
  display: flex;
  &:nth-child(2) {
    .users__username {
      margin: 0 0 10px 15px;
    }
  }
}
.score-line {
  height: 20px;
  background: red;
  margin: 0 0 30px 0;
  &__line {
    height: 100%;
    width: 50%;
    background: #fff;
  }
}
.play-board {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 30px 0;
  &__card {
    width: 75px;
    height: 75px;
    background: #fff;
  }
}
.play-buttons {
  &__title {
    text-align: center;
    margin: 0 0 15px 0;
  }
  &__button-list {
    display: flex;
    justify-content: space-around;
  }
  &__button {
    width: 75px;
    height: 75px;
    background: #fff;
  }
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(93, 94, 97, 0.64);
  &--visible{
    display: block;
  }
  &__body {
    width: 250px;
    height: 250px;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text {
    font-size: 50px;
    color: #000;
    &--win {
      color: #17ec2d;
    }
    &--lose {
      color: #ff1f1f;
    }
    &--nobody {
      color: #7b7171;
    }
  }
}
